@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("../fonts/font.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

li,
ul {
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Centra No2", "Noto Sans KR", "Malgun Gothic", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: normal;
  color: #000;
}

/* Common Class */
.container {
  position: relative;
  display: block;
  width: 122rem;
  margin: 0 auto;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.wrap {
  position: relative;
  display: block;
}

/* Header */
.header {
  position: relative;
  display: block;
  width: 100%;
  z-index: 999999;
}

.header-top {
  display: block;
  height: 4rem;
  box-sizing: content-box;
  border-bottom: .1rem solid #bcbcbc;
}

.header-top .container {
  display: flex;
  justify-content: right;
  width: calc(100% - 24rem);
}

.srch {
  display: inline-block;
  width: 34rem;
  font-size: 0;
  box-sizing: content-box;
  border-left: .1rem solid #bcbcbc;
}

.srch:hover {
  background: #eee;
}

.srch__input {
  display: inline-block;
  width: 22rem;
  height: 1.7rem;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 4rem;
  border: 0;
  margin: 0 3rem 0 2rem;
}

.srch:hover .srch__input {
  background: #eee;
}

.srch__input:focus {
  border: .2rem solid #000;
}

.srch__btn {
  display: inline-block;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 4rem;
  color: #000;
  background: none;
  border: none;
  cursor: pointer;
}

.srch:hover .srch__btn {
  color: #002bd2;
}

.user-menu {
  display: block;
  height: 4rem;
  border-left: .1rem solid #bcbcbc;
}

.user-menu > li {
  display: block;
  float: left;
  height: 100%;
  line-height: 4rem;
  margin-left: 3rem;
}

.user-menu > li:first-child {
  margin-left: 5rem;
}

.user-menu01 {
  display: block;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.3rem;
}

.user-menu01:hover {
  color: #002bd2;
}

.user-menu02 {
  display: inline-block;
  font-family: "Malgun Gothic", sans-serif;
  font-size: 1.2rem;
  vertical-align: .2rem;
}

.user-menu02:hover {
  color: #002bd2;
}

.user-menu02::before {
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: -.1rem;
  background-size: contain;
  margin-right: .4rem;
}

.user-menu-comp::before {
  background-image: url("../images/compare.png");
}

.user-menu-comp:hover::before {
  background-image: url("../images/compare_hover.png");
}

.user-menu-cart::before {
  background-image: url("../images/cart.png");
}

.user-menu-cart:hover::before {
  background-image: url("../images/cart_hover.png");
}

.header-bot {
  display: block;
  height: 6rem;
  box-sizing: content-box;
  border-bottom: .1rem solid #bcbcbc;
}

.header-bot .container {
  width: calc(100% - 24rem);
}

.header__logo {
  position: absolute;
  left: 0;
  top: 1.8rem;
  display: block;
  width: 8rem;
  height: 2.4rem;
  font-size: 0;
  background: url("../images/logo.png") no-repeat center;
  background-size: contain;
}

.gnb {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 6rem;
}

.gnb-list {
  display: block;
  height: 100%;
}

.gnb-list > li {
  display: block;
  float: left;
  height: 100%;
  margin-left: 6rem;
}

.gnb__menu {
  display: block;
  font-weight: 700;
  line-height: 6rem;
  color: #000;
}

.menu-list {
  position: absolute;
  top: 10rem;
  display: none;
  background: #282828;
  padding: 3rem;
}

.menu-list:hover {
  display: block;
}

.menu-list01 {
  right: 37rem;
  width: auto;
}

.menu-list01 > li {
  padding-bottom: 2rem;
}

.menu-list01 > li:last-child {
  padding-bottom: 0;
}

.menu-list__menu {
  display: block;
  font-size: 1.4rem;
  color: #fff;
}

.menu-list__menu:hover {
  color: #1a59ff;
}

.menu-list01 span {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  padding-top: 2rem;
}

.menu-list02 {
  right: 0;
  width: auto;
}

.menu-list__cate {
  display: inline-block;
  width: 17.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  border-right: .1rem solid #444;
  padding-bottom: 2.5rem;
  margin-right: 2rem;
}

.menu-list02 > li:last-child > .menu-list__cate {
  padding-bottom: 0;
}

.menu-list__cate a {
  color: #fff;
}

.menu-list__cate a:hover {
  color: #1a59ff;
}

.menu-list__model {
  font-size: 1.4rem;
  vertical-align: top;
  color: #fff;
  margin-left: 1.5rem;
}

.menu-list__model:hover {
  color: #1a59ff;
}

.menu-list03 {
  right: 4rem;
  width: auto;
}

.menu-list03 > li {
  padding-bottom: 2rem;
}

.menu-list03 > li:last-child {
  padding-bottom: 0;
}

/* Visual */
.visual {
  position: relative;
  display: block;
  border-bottom: .1rem solid #000;
}

.visual .container {
  width: calc(100% - 24rem);
  margin: 3.8rem auto 12rem auto;
}

.sw-visual {
  position: relative;
  display: block;
  height: 90rem;
}

.sw-visual-txt-area {
  position: absolute;
  left: 0;
  top: 10%;
  display: block;
  z-index: 9;
}

.sw-visual__txt {
  display: block;
  font-size: 6rem;
  line-height: 8rem;
  letter-spacing: -.3rem;
}

.sw-visual__model {
  display: block;
  font-size: 8rem;
  font-weight: 700;
  line-height: 10.4rem;
  margin: 1rem 0 3.5rem 0;
}

.sw-visual-more {
  position: relative;
  display: block;
  width: 28rem;
  height: 10rem;
}

.sw-visual-more i {
  position: absolute;
  left: 7.2rem;
  top: 0;
  width: 2.8rem;
  height: 2.8rem;
  font-size: 0;
  background: url("../images/outlinkPlay.svg") no-repeat center;
}

.sw-visual-more img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.sw-visual-more span {
  position: absolute;
  left: 40%;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.1rem;
  color: #999;
  margin-top: 3rem;
}

.sw-visual-more span:hover {
  color: #000;
}

.sw-visual__img {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 70%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sw-visual__img--01 {
  background-image: url("../images/visual-1.jpg");
}

.sw-visual__img--02 {
  background-image: url("../images/visual-2.jpg");
}

.sw-visual__img--03 {
  background-image: url("../images/visual-3.jpg");
}

.sw-visual__img--04 {
  background-image: url("../images/visual-4.jpg");
}

.sw-visual__img--05 {
  background-image: url("../images/visual-5.jpg");
}

.sw-visual-ctrl {
  position: absolute;
  left: 0;
  bottom: 18%;
  display: block;
  font-size: 0;
  z-index: 999;
}

.sw-visual__prev {
  display: inline-block;
  width: 7.5rem;
  height: 2.6rem;
  background: url("../images/prevBr.png");
  margin-right: 1.8rem;
  cursor: pointer;
}

.sw-visual__prev:hover {
  background: url("../images/prevBl.png");
}

.sw-visual__next {
  display: inline-block;
  width: 7.5rem;
  height: 2.6rem;
  background: url("../images/nextBr.png");
  cursor: pointer;
}

.sw-visual__next:hover {
  background: url("../images/nextBl.png");
}

/* TASK CHAIR */
.task {
  position: relative;
  display: block;
  border-bottom: .1rem solid #000;
}

.task .container {
  padding: 8rem 0 4rem 0;
}

.task-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.5rem;
}

.task__tit {
  display: block;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 4.4rem;
}

.task__more {
  display: block;
  font-size: 1.3rem;
  color: #002bd2;
  margin-top: 2rem;
}

.task__more:hover {
  text-decoration: underline;
}

.task-main {
  display: flex;
  justify-content: space-between;
}

.task-main-left {
  display: block;
}

.task__t80 {
  display: block;
  width: 56rem;
  height: 80rem;
}

.task__model {
  display: block;
  font-size: 5rem;
  font-weight: 700;
  line-height: 6.5rem;
  text-align: center;
  margin: 3rem 0 1rem 0;
}

.task__txt {
  display: block;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.1rem;
  text-align: center;
  margin-bottom: 8rem;
}

.task__tab-plus {
  display: block;
  width: 56rem;
  height: 56rem;
}

.task-main-right {
  display: block;
}

.task__t50 {
  display: block;
  width: 56rem;
  height: 68rem;
}

.task__t40 {
  display: block;
  width: 56rem;
  height: 46rem;
}

.task-main a:hover {
  opacity: 0.8;
}

/* KIDS CHAIR */
.kids {
  position: relative;
  display: block;
}

.kids .container {
  padding: 8rem 0 12rem 0;
}

.kids-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.kids__tit {
  display: block;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 4.4rem;
}

.kids__more {
  display: block;
  font-size: 1.3rem;
  color: #002bd2;
  margin-top: 2rem;
}

.kids__more:hover {
  text-decoration: underline;
}

.kids-main {
  display: flex;
  justify-content: space-between;
}

.kids-main a {
  display: block;
}

.kids-main a:hover {
  opacity: 0.8;
}

.kids-main img {
  width: 34rem;
  height: 50rem;
}

.kids__model {
  display: block;
  font-size: 5rem;
  font-weight: 700;
  line-height: 6.5rem;
  text-align: center;
  margin: 3rem 0 1rem 0;
}

.kids__txt {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: center;
}

/* Board */
.board {
  position: relative;
  display: block;
  background: #f5f5f5;
}

.board .container {
  padding: 8rem 0 12rem 0;
}

.news {
  display: block;
  height: 6rem;
  margin-bottom: 8rem;
}

.news__tit {
  display: block;
  float: left;
  width: 12%;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 6rem;
  text-align: center;
  color: #fff;
  background: #002bd2;
}

.news-box {
  display: block;
  float: left;
  width: 88%;
  height: 100%;
  background: #dde6ff;
}

.news-cont {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1.5% 0 25%;
}

.news-cont__tit {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
}

.news-cont__tit:hover {
  text-decoration: underline;
}

.news-cont__date {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-left: 1rem;
}

.news-cont__more {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #555;
  text-decoration: underline;
  margin-left: auto;
}

.news-cont__more:hover {
  color: #002bd2;
}

.sns {
  display: block;
  margin-bottom: 10rem;
}

.insta {
  display: inline-block;
  margin-bottom: 3rem;
}

.insta__id {
  position: relative;
  display: inline-block;
  height: 5.5rem;
  font-size: 2rem;
  padding: 1.3rem 0 0 6.5rem;
}

.insta__id::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 5rem;
  height: 5rem;
  background: url("../images/pc_insta_profile.png") no-repeat center;
  background-size: contain;
}

.feed {
  display: flex;
  justify-content: space-between;
  height: 22.8rem;
}

.feed-item {
  display: block;
  width: 22.8rem;
}

.feed-item img {
  width: 22.8rem;
  height: 22.8rem;
}

.blog {
  display: flex;
  justify-content: space-between;
}

.blog-cont {
  display: block;
}

.blog__cate {
  position: relative;
  display: inline-block;
  height: 3rem;
  font-size: 1.8rem;
  padding-left: 4.5rem;
  margin-bottom: 3rem;
}

.blog__cate::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 3rem;
  height: 3rem;
  background: url("../images/blog.png") no-repeat center;
  background-size: contain;
}

.blog__tit {
  display: block;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.7rem;
  margin-bottom: 2rem;
}

.blog__desc {
  display: block;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #555;
  margin-bottom: 3rem;
}

.blog__more {
  display: block;
  font-size: 1.3rem;
  color: #002bd2;
  text-decoration: underline;
}

.blog__img {
  display: block;
  width: 62rem;
  height: 35rem;
  background: url("../images/blogMainImg.jpg") no-repeat center;
  background: cover;
}

/* Footer */
.footer {
  position: relative;
  display: block;
  height: 61.5rem;
  background: #141414;
}

.footer .container {
  padding-top: 6rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.footer__logo {
  display: block;
  width: 4.4rem;
  height: 4.4rem;
}

.footer-sns {
  display: block;
  font-size: 0;
  margin-top: 1rem;
}

.footer__sns {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  font-size: 0;
  margin-left: 2rem;
}

.footer__sns--f {
  background: url("../images/facebookIcon.svg");
}
.footer__sns--i {
  background: url("../images/instaIcon.svg");
}
.footer__sns--b {
  background: url("../images/blogIcon.svg");
}

.footer-main {
  display: flex;
}

.footer-main-left {
  display: block;
  width: 30%;
}

.copy {
  display: block;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #fff;
  margin-bottom: 1.8rem;
}

.company {
  display: block;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.2rem;
  color: #fff;
  margin-bottom: 2.2rem;
}

.addr {
  display: block;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: #fff;
  margin-bottom: 3.9rem;
}

.escrow {
  display: block;
}

.escrow span {
  position: relative;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  padding: 2.1rem 0 0 6rem;
}

.escrow span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 6rem;
  height: 4rem;
  background: url("../images/spclogo.png") no-repeat center;
  background-size: contain;
}

.footer-main-right {
  display: block;
  width: 70%;
}

.footer-link {
  display: block;
  height: 5.5rem;
  font-size: 0;
}

.footer-link a {
  display: inline-block;
  font-size: 1.3rem;
  line-height: 1.9rem;
  text-decoration: underline;
  color: #fff;
  margin-right: 7.4rem;
}

.footer-link a em {
  font-style: normal;
  text-decoration: underline;
  color: #1a59ff;
}

.footer-list-dep01 {
  position: relative;
  display: block;
}

.footer-list-dep01 > li {
  display: block;
  float: left;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.2rem;
  color: #fff;
  margin-right: 6.7rem;
}

.footer-list-dep01 > li:last-child {
  position: absolute;
  left: 0;
  top: 13.9rem;
}

.footer-list-dep02 {
  display: block;
  margin-top: 2rem;
}

.footer-list-dep02 > li {
  display: block;
}

.footer-list-dep02 > li > a {
  display: block;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 3rem;
  color: #fff;
}

.footer__call {
  display: block;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.1rem;
  margin: 2rem 0;
}

.footer__time {
  display: block;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.footer__time span {
  display: block;
  font-family: "Malgun Gothic", sans-serif;
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: #999;
  margin-bottom: 2.4rem;
}

.footer__chat {
  display: block;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.9rem;
  text-decoration: underline;
  color: #fff;
  margin-top: 2rem;
}

/* Side button */
.side-btn-area {
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  display: block;
  z-index: 999;
}

.side-btn {
  position: relative;
  display: block;
  width: 9.9rem;
  height: 3.6rem;
  font-size: 1.3rem;
  line-height: 1.9rem;
  background-color: #fff;
  border-radius: 10rem;
  box-shadow: 0 .4rem .5rem rgba(0 0 0 / 15%);
  padding: .8rem 1.6rem;
}

.side-btn--st {
  bottom: .85rem;
}

.side-btn::before {
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: middle;
  margin-right: .4rem;
}

.side-btn--st::before {
  background: url("../images/store.svg");
}

.side-btn--cb::before {
  background: url("../images/kakao.svg");
}